.u-section-1 .u-sheet-1 {
  min-height: 3750px;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  font-family: Trirong-Light;
  margin: 184px 3px 0;
}

.u-section-1 .u-shape-1 {
  width: 228px;
  height: 228px;
  margin: -175px 79px 0 auto;
}

.u-section-1 .u-text-2 {
  font-size: 2.25rem;
  margin: -33px 60px 0 0;
}

.u-section-1 .u-image-1 {
  width: 410px;
  height: 536px;
  margin: -193px 92px 0 auto;
}

.u-section-1 .u-shape-2 {
  width: 147px;
  height: 147px;
  margin: -211px auto 0 471px;
}

.u-section-1 .u-btn-1 {
  border-style: double;
  font-size: 2.25rem;
  margin: -125px auto 0 39px;
  padding: 0;
}

.u-section-1 .u-text-3 {
  margin: 293px 20px 0;
}

.u-section-1 .u-text-4 {
  margin: 227px auto 0 0;
}

.u-section-1 .u-list-1 {
  grid-template-rows: repeat(1, auto);
  margin-top: 106px;
  margin-bottom: 0;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: repeat(2, calc(50% - 13.5px));
  min-height: 1141px;
  grid-auto-columns: calc(50% - 13.5px);
  grid-gap: 27px;
}

.u-section-1 .u-list-item-1 {
  --radius: 50px;
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 0 30px;
}

.u-section-1 .u-image-2 {
  height: 308px;
  margin-top: 0;
  margin-bottom: 0;
  --top-left-radius: 50px;
  --top-right-radius: 50px;
  filter: brightness(0.9);
}

.u-section-1 .u-text-5 {
  font-family: Trirong-Light;
  font-weight: 800;
  margin: 30px 20px 0;
}

.u-section-1 .u-text-6 {
  font-size: 1.75rem;
  margin: 20px 20px 0;
}

.u-section-1 .u-list-item-2 {
  --radius: 50px;
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 0 0 30px;
}

.u-section-1 .u-image-3 {
  height: 308px;
  margin-top: 0;
  margin-bottom: 0;
  --top-left-radius: 50px;
  --top-right-radius: 50px;
  filter: brightness(0.9);
}

.u-section-1 .u-text-7 {
  font-weight: 800;
  font-family: Trirong-Light;
  text-transform: none;
  margin: 30px 20px 0;
}

.u-section-1 .u-text-8 {
  font-size: 1.75rem;
  margin: 20px 20px 0;
}

.u-section-1 .u-list-item-3 {
  --radius: 50px;
  background-image: none;
}

.u-section-1 .u-container-layout-3 {
  padding: 0 0 30px;
}

.u-section-1 .u-image-4 {
  height: 308px;
  margin-top: 0;
  margin-bottom: 0;
  --top-left-radius: 50px;
  --top-right-radius: 50px;
  filter: brightness(0.9);
}

.u-section-1 .u-text-9 {
  font-weight: 800;
  font-family: Trirong-Light;
  text-transform: none;
  margin: 30px 20px 0;
}

.u-section-1 .u-text-10 {
  font-size: 1.75rem;
  margin: 20px 20px 0;
}

.u-section-1 .u-list-item-4 {
  --radius: 50px;
  background-image: none;
}

.u-section-1 .u-container-layout-4 {
  padding: 0 0 30px;
}

.u-section-1 .u-image-5 {
  height: 308px;
  margin-top: 0;
  margin-bottom: 0;
  --top-left-radius: 50px;
  --top-right-radius: 50px;
  filter: brightness(0.9);
}

.u-section-1 .u-text-11 {
  font-weight: 800;
  font-family: Trirong-Light;
  text-transform: none;
  margin: 30px 20px 0;
}

.u-section-1 .u-text-12 {
  font-size: 1.75rem;
  margin: 20px 20px 0;
}

.u-section-1 .u-text-13 {
  margin: 165px auto 0 0;
}

.u-section-1 .u-list-2 {
  grid-template-rows: repeat(3, auto);
  margin-top: 30px;
  margin-bottom: 60px;
}

.u-section-1 .u-repeater-2 {
  grid-auto-columns: 100%;
  grid-template-columns: repeat(1, 100%);
  min-height: 837px;
  grid-gap: 33px;
}

.u-section-1 .u-container-layout-5 {
  padding: 0 30px 0 0;
}

.u-section-1 .u-icon-1 {
  height: 45px;
  width: 45px;
  background-image: none;
  margin: 0 517px 0 0;
  padding: 9px;
}

.u-section-1 .u-text-14 {
  margin: -45px 1px 0 95px;
}

.u-section-1 .u-text-15 {
  margin: 20px 1px 0 95px;
}

.u-section-1 .u-container-layout-6 {
  padding: 0 30px 0 0;
}

.u-section-1 .u-icon-2 {
  height: 45px;
  width: 45px;
  background-image: none;
  margin: 0 517px 0 0;
  padding: 9px;
}

.u-section-1 .u-text-16 {
  margin: -45px 1px 0 95px;
}

.u-section-1 .u-text-17 {
  margin: 20px 1px 0 95px;
}

.u-section-1 .u-container-layout-7 {
  padding: 0 30px 0 0;
}

.u-section-1 .u-icon-3 {
  height: 45px;
  width: 45px;
  background-image: none;
  margin: 0 517px 0 0;
  padding: 9px;
}

.u-section-1 .u-text-18 {
  margin: -45px 1px 0 95px;
}

.u-section-1 .u-text-19 {
  margin: 20px 1px 0 95px;
}

.u-section-1 .u-container-layout-8 {
  padding: 0 30px 0 0;
}

.u-section-1 .u-icon-4 {
  height: 45px;
  width: 45px;
  background-image: none;
  margin: 0 517px 0 0;
  padding: 9px;
}

.u-section-1 .u-text-20 {
  margin: -45px 1px 0 95px;
}

.u-section-1 .u-text-21 {
  margin: 20px 1px 0 95px;
}

.u-section-1 .u-container-layout-9 {
  padding: 0 30px 0 0;
}

.u-section-1 .u-icon-5 {
  height: 45px;
  width: 45px;
  background-image: none;
  margin: 0 517px 0 0;
  padding: 9px;
}

.u-section-1 .u-text-22 {
  margin: -45px 1px 0 95px;
}

.u-section-1 .u-text-23 {
  margin: 20px 1px 0 95px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-top: 8008px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-shape-1 {
    margin-top: -176px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -32px;
    margin-right: 0;
  }

  .u-section-1 .u-image-1 {
    margin-top: -194px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -5850px;
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    margin-top: 3665px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    margin-top: -2088px;
  }

  .u-section-1 .u-list-1 {
    margin-top: 5734px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 913px;
  }

  .u-section-1 .u-text-5 {
    width: auto;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin-top: 19px;
    margin-right: 30px;
  }

  .u-section-1 .u-text-7 {
    width: auto;
  }

  .u-section-1 .u-text-8 {
    width: auto;
    margin-top: 19px;
    margin-right: 30px;
  }

  .u-section-1 .u-text-9 {
    width: auto;
  }

  .u-section-1 .u-text-10 {
    width: auto;
    margin-top: 19px;
    margin-right: 30px;
  }

  .u-section-1 .u-text-11 {
    width: auto;
  }

  .u-section-1 .u-text-12 {
    width: auto;
    margin-top: 19px;
    margin-right: 30px;
  }

  .u-section-1 .u-text-13 {
    margin-top: -6261px;
  }

  .u-section-1 .u-list-2 {
    margin-top: 6367px;
    margin-bottom: -8794px;
  }

  .u-section-1 .u-repeater-2 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-icon-1 {
    margin-right: 424px;
  }

  .u-section-1 .u-text-14 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-15 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-icon-2 {
    margin-right: 424px;
  }

  .u-section-1 .u-text-16 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-17 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-icon-3 {
    margin-right: 424px;
  }

  .u-section-1 .u-text-18 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-19 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-icon-4 {
    margin-right: 424px;
  }

  .u-section-1 .u-text-20 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-21 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-icon-5 {
    margin-right: 424px;
  }

  .u-section-1 .u-text-22 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-23 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-top: 7237px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -5250px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 4008px;
  }

  .u-section-1 .u-text-4 {
    margin-top: -2115px;
  }

  .u-section-1 .u-list-1 {
    margin-top: 4818px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 2097px;
    grid-auto-columns: calc(100% - 0px);
  }

  .u-section-1 .u-image-2 {
    height: 462px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 20px;
  }

  .u-section-1 .u-image-3 {
    height: 462px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 20px;
  }

  .u-section-1 .u-image-4 {
    height: 462px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 20px;
  }

  .u-section-1 .u-image-5 {
    height: 462px;
  }

  .u-section-1 .u-text-12 {
    margin-right: 20px;
  }

  .u-section-1 .u-text-13 {
    margin-top: -6872px;
  }

  .u-section-1 .u-list-2 {
    margin-top: 6977px;
    margin-bottom: -9565px;
  }

  .u-section-1 .u-icon-1 {
    margin-right: 321px;
  }

  .u-section-1 .u-icon-2 {
    margin-right: 321px;
  }

  .u-section-1 .u-icon-3 {
    margin-right: 321px;
  }

  .u-section-1 .u-icon-4 {
    margin-right: 321px;
  }

  .u-section-1 .u-icon-5 {
    margin-right: 321px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    font-size: 3rem;
    margin-top: 6348px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: -183px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.875rem;
    margin-top: -25px;
  }

  .u-section-1 .u-shape-2 {
    margin-left: 393px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -4377px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 4081px;
  }

  .u-section-1 .u-text-4 {
    margin-top: -2088px;
  }

  .u-section-1 .u-list-1 {
    margin-top: 3881px;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: 100%;
  }

  .u-section-1 .u-image-2 {
    height: 924px;
  }

  .u-section-1 .u-text-6 {
    margin-top: 18px;
  }

  .u-section-1 .u-image-3 {
    height: 924px;
  }

  .u-section-1 .u-text-8 {
    margin-top: 18px;
  }

  .u-section-1 .u-image-4 {
    height: 924px;
  }

  .u-section-1 .u-text-10 {
    margin-top: 18px;
  }

  .u-section-1 .u-image-5 {
    height: 924px;
  }

  .u-section-1 .u-text-12 {
    margin-top: 18px;
  }

  .u-section-1 .u-text-13 {
    margin-top: -7812px;
  }

  .u-section-1 .u-list-2 {
    margin-top: 7930px;
    margin-bottom: -10442px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-right: 10px;
  }

  .u-section-1 .u-icon-1 {
    margin-right: 247px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-right: 10px;
  }

  .u-section-1 .u-icon-2 {
    margin-right: 247px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-right: 10px;
  }

  .u-section-1 .u-icon-3 {
    margin-right: 247px;
  }

  .u-section-1 .u-container-layout-8 {
    padding-right: 10px;
  }

  .u-section-1 .u-icon-4 {
    margin-right: 247px;
  }

  .u-section-1 .u-container-layout-9 {
    padding-right: 10px;
  }

  .u-section-1 .u-icon-5 {
    margin-right: 247px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 3658px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    width: auto;
    margin-top: 87px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: 490px;
    margin-right: auto;
    margin-left: -16px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.5rem;
    width: auto;
    margin-top: -654px;
  }

  .u-section-1 .u-image-1 {
    height: 366px;
    width: 280px;
    margin-top: 70px;
    margin-right: 0;
  }

  .u-section-1 .u-shape-2 {
    margin-top: -630px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 2206px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: -1406px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-top: 160px;
  }

  .u-section-1 .u-list-1 {
    margin-top: 160px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 2141px;
  }

  .u-section-1 .u-image-2 {
    height: 296px;
  }

  .u-section-1 .u-text-6 {
    margin-top: 17px;
  }

  .u-section-1 .u-image-3 {
    height: 296px;
  }

  .u-section-1 .u-text-8 {
    margin-top: 17px;
  }

  .u-section-1 .u-image-4 {
    height: 296px;
  }

  .u-section-1 .u-text-10 {
    margin-top: 17px;
  }

  .u-section-1 .u-image-5 {
    height: 296px;
    object-position: 50% 18.46%;
  }

  .u-section-1 .u-text-12 {
    margin-top: 17px;
  }

  .u-section-1 .u-text-13 {
    margin-top: 1341px;
  }

  .u-section-1 .u-list-2 {
    margin-top: -378px;
    margin-bottom: -1948px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-right: 0;
  }

  .u-section-1 .u-icon-1 {
    margin-right: 164px;
  }

  .u-section-1 .u-text-14 {
    width: auto;
    margin-top: -37px;
    margin-right: -52px;
    margin-left: 62px;
  }

  .u-section-1 .u-text-15 {
    width: auto;
    margin-top: 12px;
    margin-right: -10px;
    margin-left: 20px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-right: 0;
  }

  .u-section-1 .u-icon-2 {
    margin-right: 164px;
  }

  .u-section-1 .u-text-16 {
    width: auto;
    margin-top: -37px;
    margin-right: -52px;
    margin-left: 62px;
  }

  .u-section-1 .u-text-17 {
    width: auto;
    margin-top: 12px;
    margin-right: -10px;
    margin-left: 20px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-right: 0;
  }

  .u-section-1 .u-icon-3 {
    margin-right: 164px;
  }

  .u-section-1 .u-text-18 {
    width: auto;
    margin-top: -37px;
    margin-right: -52px;
    margin-left: 62px;
  }

  .u-section-1 .u-text-19 {
    width: auto;
    margin-top: 12px;
    margin-right: -10px;
    margin-left: 20px;
  }

  .u-section-1 .u-container-layout-8 {
    padding-right: 0;
  }

  .u-section-1 .u-icon-4 {
    margin-right: 164px;
  }

  .u-section-1 .u-text-20 {
    width: auto;
    margin-top: -37px;
    margin-right: -52px;
    margin-left: 62px;
  }

  .u-section-1 .u-text-21 {
    width: auto;
    margin-top: 12px;
    margin-right: -10px;
    margin-left: 20px;
  }

  .u-section-1 .u-container-layout-9 {
    padding-right: 0;
  }

  .u-section-1 .u-icon-5 {
    margin-right: 164px;
  }

  .u-section-1 .u-text-22 {
    width: auto;
    margin-top: -37px;
    margin-right: -52px;
    margin-left: 62px;
  }

  .u-section-1 .u-text-23 {
    width: auto;
    margin-top: 12px;
    margin-right: -10px;
    margin-left: 20px;
  }
}@font-face {
  font-family: 'Trirong-Light';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/Trirong-Light.ttf);
}