 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 2218px;
}

.u-section-1 .u-shape-1 {
  width: 306px;
  height: 306px;
  margin: 60px auto 0 198px;
}

.u-section-1 .u-shape-2 {
  width: 245px;
  height: 245px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 411px 60px 0 auto;
}

.u-section-1 .u-image-1 {
  width: 478px;
  height: 626px;
  margin: -962px 23px 0 auto;
}

.u-section-1 .u-shape-3 {
  width: 146px;
  height: 146px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 582px 345px 0 auto;
}

.u-section-1 .u-group-1 {
  width: 634px;
  min-height: 649px;
  height: auto;
  box-shadow: 5px 5px 25px 0 rgba(0,0,0,0.2);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  margin: -666px auto 0 -20px;
}

.u-section-1 .u-container-layout-1 {
  padding: 24px 0;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  margin: 206px 50px 0;
}

.u-section-1 .u-text-2 {
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  margin: 172px 0 0;
}

.u-section-1 .u-text-3 {
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-size: 3.75rem;
  font-family: Trirong-Light;
  font-weight: 700;
  margin: 155px 0 0;
}

.u-section-1 .u-text-4 {
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-family: Trirong-Light;
  font-weight: 900;
  margin: 14px 0 0;
}

.u-section-1 .u-text-5 {
  font-family: Trirong-Light;
  font-size: 1.5rem;
  font-weight: 600;
  margin: 0 -11px 60px 11px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    height: auto;
  }

  .u-section-1 .u-text-5 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 3225px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 3430px;
  }

  .u-section-1 .u-group-1 {
    width: 540px;
    margin-left: 0;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 3px;
    margin-right: 3px;
  }

  .u-section-1 .u-text-3 {
    font-size: 3.333333333333333rem;
  }

  .u-section-1 .u-text-5 {
    font-size: 1.3333333333333333rem;
    margin-bottom: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1827px;
  }

  .u-section-1 .u-shape-1 {
    width: 110px;
    height: 110px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-1 .u-shape-2 {
    width: 220px;
    height: 220px;
    margin-top: 292px;
    margin-right: -73px;
  }

  .u-section-1 .u-image-1 {
    height: 445px;
    margin-top: -576px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-shape-3 {
    margin-top: 316px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-1 .u-group-1 {
    min-height: 300px;
    margin-top: -402px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.34375rem;
    font-family: Trirong-Light;
    font-weight: 600;
    width: auto;
    margin-top: 0;
    margin-right: 15px;
    margin-left: 35px;
  }

  .u-section-1 .u-text-2 {
    font-family: Trirong-Light;
    font-weight: 900;
    width: auto;
    margin-top: 286px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 166px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-top: 80px;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-top: 35px;
    margin-bottom: 60px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 1193px;
}

.u-section-2 .u-list-1 {
  margin-top: 41px;
  margin-bottom: 60px;
}

.u-section-2 .u-repeater-1 {
  grid-auto-columns: calc(50% - 15px);
  grid-template-columns: repeat(2, calc(50% - 15px));
  min-height: 1082px;
  grid-gap: 30px;
}

.u-section-2 .u-list-item-1 {
  --radius: 50px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  font-size: 2.25rem;
  font-family: Trirong-Light;
  margin: 0;
}

.u-section-2 .u-text-2 {
  font-family: Trirong-Light;
  font-weight: 600;
  margin: 23px 0 0;
}

.u-section-2 .u-image-1 {
  width: 245px;
  height: 224px;
  --radius: 30px;
  margin: 60px auto 0;
}

.u-section-2 .u-list-item-2 {
  --radius: 50px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-text-3 {
  font-family: Trirong-Light;
  font-weight: 700;
  font-size: 2.25rem;
  margin: 0;
}

.u-section-2 .u-text-4 {
  font-weight: 600;
  font-family: Trirong-Light;
  margin: 23px 0 0;
}

.u-section-2 .u-image-2 {
  width: 245px;
  height: 224px;
  --radius: 30px;
  object-position: 50% 41.99%;
  margin: 60px auto 0;
}

.u-section-2 .u-list-item-3 {
  --radius: 50px;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-text-5 {
  font-weight: 700;
  font-size: 2.25rem;
  font-family: Trirong-Light;
  margin: 0;
}

.u-section-2 .u-text-6 {
  font-weight: 600;
  font-family: Trirong-Light;
  margin: 23px 0 0;
}

.u-section-2 .u-image-3 {
  width: 245px;
  height: 224px;
  --radius: 30px;
  object-position: 50% 39.63%;
  margin: 60px auto 0;
}

.u-section-2 .u-list-item-4 {
  --radius: 50px;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

.u-section-2 .u-text-7 {
  font-weight: 700;
  font-size: 2.25rem;
  font-family: Trirong-Light;
  margin: 0;
}

.u-section-2 .u-text-8 {
  font-weight: 600;
  font-family: Trirong-Light;
  margin: 23px 0 0;
}

.u-section-2 .u-image-4 {
  width: 245px;
  height: 224px;
  --radius: 30px;
  object-position: 50% 12.54%;
  margin: 60px auto 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-repeater-1 {
    min-height: 892px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
    min-height: 1186px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-repeater-1 {
    grid-auto-columns: 100%;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2856px;
  }

  .u-section-2 .u-list-1 {
    margin-top: 46px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 2156px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
    margin-left: 15px;
  }

  .u-section-2 .u-text-2 {
    padding-left: 0;
    font-weight: 700;
  }

  .u-section-2 .u-image-1 {
    height: 252px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-text-3 {
    font-size: 1.5rem;
    margin-left: 15px;
  }

  .u-section-2 .u-text-4 {
    font-weight: 700;
    padding-left: 0;
  }

  .u-section-2 .u-image-2 {
    height: 252px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-text-5 {
    font-size: 1.5rem;
    margin-left: 15px;
  }

  .u-section-2 .u-text-6 {
    font-weight: 700;
    padding-left: 0;
  }

  .u-section-2 .u-image-3 {
    height: 252px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-text-7 {
    font-size: 1.5rem;
    margin-left: 15px;
  }

  .u-section-2 .u-text-8 {
    font-weight: 700;
    padding-left: 0;
  }

  .u-section-2 .u-image-4 {
    height: 252px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 1103px;
}

.u-section-3 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  font-family: Trirong-Light;
  font-weight: 900;
  font-size: 3.75rem;
  margin: 42px auto 0;
}

.u-section-3 .u-list-1 {
  grid-template-rows: repeat(3, auto);
  margin: 88px 0 42px;
}

.u-section-3 .u-repeater-1 {
  grid-auto-columns: 100%;
  grid-template-columns: repeat(1, 100%);
  min-height: 787px;
  grid-gap: 33px;
}

.u-section-3 .u-container-layout-1 {
  padding: 0 30px 0 0;
}

.u-section-3 .u-icon-1 {
  height: 45px;
  width: 45px;
  background-image: none;
  margin: 0 517px 0 0;
  padding: 9px;
}

.u-section-3 .u-text-2 {
  font-size: 3rem;
  margin: -45px 1px 0 95px;
}

.u-section-3 .u-text-3 {
  font-family: Trirong-Light;
  font-size: 1.5rem;
  font-weight: 600;
  margin: 20px 1px 0 95px;
}

.u-section-3 .u-container-layout-2 {
  padding: 0 30px 0 0;
}

.u-section-3 .u-icon-2 {
  height: 45px;
  width: 45px;
  background-image: none;
  margin: 0 517px 0 0;
  padding: 9px;
}

.u-section-3 .u-text-4 {
  font-size: 3rem;
  margin: -45px 1px 0 95px;
}

.u-section-3 .u-text-5 {
  font-size: 1.5rem;
  font-weight: 600;
  font-family: Trirong-Light;
  margin: 20px 1px 0 95px;
}

.u-section-3 .u-container-layout-3 {
  padding: 0 30px 0 0;
}

.u-section-3 .u-icon-3 {
  height: 45px;
  width: 45px;
  background-image: none;
  margin: 0 517px 0 0;
  padding: 9px;
}

.u-section-3 .u-text-6 {
  font-size: 3rem;
  margin: -45px 1px 0 95px;
}

.u-section-3 .u-text-7 {
  font-size: 1.5rem;
  font-weight: 600;
  font-family: Trirong-Light;
  margin: 20px 1px 0 95px;
}

.u-section-3 .u-container-layout-4 {
  padding: 0 30px 0 0;
}

.u-section-3 .u-icon-4 {
  height: 45px;
  width: 45px;
  background-image: none;
  margin: 0 517px 0 0;
  padding: 9px;
}

.u-section-3 .u-text-8 {
  font-size: 3rem;
  margin: -45px 1px 0 95px;
}

.u-section-3 .u-text-9 {
  font-size: 1.5rem;
  font-weight: 600;
  font-family: Trirong-Light;
  margin: 20px 1px 0 95px;
}

.u-section-3 .u-container-layout-5 {
  padding: 0 30px 0 0;
}

.u-section-3 .u-icon-5 {
  height: 45px;
  width: 45px;
  background-image: none;
  margin: 0 517px 0 0;
  padding: 9px;
}

.u-section-3 .u-text-10 {
  font-size: 3rem;
  margin: -45px 1px 0 95px;
}

.u-section-3 .u-text-11 {
  font-size: 1.5rem;
  font-weight: 600;
  font-family: Trirong-Light;
  margin: 20px 1px 0 95px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-3 .u-icon-1 {
    margin-right: 424px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-right: 0;
    margin-left: 90px;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-top: 25px;
    margin-right: 0;
    margin-left: 90px;
  }

  .u-section-3 .u-icon-2 {
    margin-right: 424px;
  }

  .u-section-3 .u-text-4 {
    width: auto;
    margin-right: 0;
    margin-left: 90px;
  }

  .u-section-3 .u-text-5 {
    width: auto;
    margin-top: 25px;
    margin-right: 0;
    margin-left: 90px;
  }

  .u-section-3 .u-icon-3 {
    margin-right: 424px;
  }

  .u-section-3 .u-text-6 {
    width: auto;
    margin-right: 0;
    margin-left: 90px;
  }

  .u-section-3 .u-text-7 {
    width: auto;
    margin-top: 25px;
    margin-right: 0;
    margin-left: 90px;
  }

  .u-section-3 .u-icon-4 {
    margin-right: 424px;
  }

  .u-section-3 .u-text-8 {
    width: auto;
    margin-right: 0;
    margin-left: 90px;
  }

  .u-section-3 .u-text-9 {
    width: auto;
    margin-top: 25px;
    margin-right: 0;
    margin-left: 90px;
  }

  .u-section-3 .u-icon-5 {
    margin-right: 424px;
  }

  .u-section-3 .u-text-10 {
    width: auto;
    margin-right: 0;
    margin-left: 90px;
  }

  .u-section-3 .u-text-11 {
    width: auto;
    margin-top: 25px;
    margin-right: 0;
    margin-left: 90px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-container-layout-1 {
    padding-bottom: 30px;
  }

  .u-section-3 .u-icon-1 {
    margin-right: 321px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 75px;
  }

  .u-section-3 .u-text-3 {
    margin-top: 27px;
    margin-left: 75px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-bottom: 30px;
  }

  .u-section-3 .u-icon-2 {
    margin-right: 321px;
  }

  .u-section-3 .u-text-4 {
    margin-left: 75px;
  }

  .u-section-3 .u-text-5 {
    margin-top: 27px;
    margin-left: 75px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-bottom: 30px;
  }

  .u-section-3 .u-icon-3 {
    margin-right: 321px;
  }

  .u-section-3 .u-text-6 {
    margin-left: 75px;
  }

  .u-section-3 .u-text-7 {
    margin-top: 27px;
    margin-left: 75px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-bottom: 30px;
  }

  .u-section-3 .u-icon-4 {
    margin-right: 321px;
  }

  .u-section-3 .u-text-8 {
    margin-left: 75px;
  }

  .u-section-3 .u-text-9 {
    margin-top: 27px;
    margin-left: 75px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-bottom: 30px;
  }

  .u-section-3 .u-icon-5 {
    margin-right: 321px;
  }

  .u-section-3 .u-text-10 {
    margin-left: 75px;
  }

  .u-section-3 .u-text-11 {
    margin-top: 27px;
    margin-left: 75px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    font-size: 2.8125rem;
  }

  .u-section-3 .u-container-layout-1 {
    padding-right: 10px;
  }

  .u-section-3 .u-icon-1 {
    margin-right: 247px;
  }

  .u-section-3 .u-text-3 {
    font-size: 1.3333333333333333rem;
  }

  .u-section-3 .u-container-layout-2 {
    padding-right: 10px;
  }

  .u-section-3 .u-icon-2 {
    margin-right: 247px;
  }

  .u-section-3 .u-text-5 {
    font-size: 1.3333333333333333rem;
  }

  .u-section-3 .u-container-layout-3 {
    padding-right: 10px;
  }

  .u-section-3 .u-icon-3 {
    margin-right: 247px;
  }

  .u-section-3 .u-text-7 {
    font-size: 1.3333333333333333rem;
  }

  .u-section-3 .u-container-layout-4 {
    padding-right: 10px;
  }

  .u-section-3 .u-icon-4 {
    margin-right: 247px;
  }

  .u-section-3 .u-text-9 {
    font-size: 1.3333333333333333rem;
  }

  .u-section-3 .u-container-layout-5 {
    padding-right: 10px;
  }

  .u-section-3 .u-icon-5 {
    margin-right: 247px;
  }

  .u-section-3 .u-text-11 {
    font-size: 1.3333333333333333rem;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    font-size: 2.34375rem;
  }

  .u-section-3 .u-icon-1 {
    margin-top: 8px;
    margin-right: auto;
  }

  .u-section-3 .u-text-2 {
    font-size: 2.25rem;
    margin-left: 60px;
  }

  .u-section-3 .u-text-3 {
    margin-top: 28px;
    margin-left: 60px;
  }

  .u-section-3 .u-icon-2 {
    margin-top: 8px;
    margin-right: auto;
  }

  .u-section-3 .u-text-4 {
    font-size: 2.25rem;
    margin-left: 60px;
  }

  .u-section-3 .u-text-5 {
    margin-top: 28px;
    margin-left: 60px;
  }

  .u-section-3 .u-icon-3 {
    margin-top: 8px;
    margin-right: auto;
  }

  .u-section-3 .u-text-6 {
    font-size: 2.25rem;
    margin-left: 60px;
  }

  .u-section-3 .u-text-7 {
    margin-top: 28px;
    margin-left: 60px;
  }

  .u-section-3 .u-icon-4 {
    margin-top: 8px;
    margin-right: auto;
  }

  .u-section-3 .u-text-8 {
    font-size: 2.25rem;
    margin-left: 60px;
  }

  .u-section-3 .u-text-9 {
    margin-top: 28px;
    margin-left: 60px;
  }

  .u-section-3 .u-icon-5 {
    margin-top: 8px;
    margin-right: auto;
  }

  .u-section-3 .u-text-10 {
    font-size: 2.25rem;
    margin-left: 60px;
  }

  .u-section-3 .u-text-11 {
    margin-top: 28px;
    margin-left: 60px;
  }
} .u-section-4 {
  background-image: none;
  min-height: 741px;
}

.u-section-4 .u-shape-1 {
  height: 269px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-group-1 {
  width: 977px;
  min-height: 553px;
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1);
  margin: -167px auto 60px;
}

.u-section-4 .u-container-layout-1 {
  padding: 70px 30px;
}

.u-section-4 .u-text-1 {
  font-weight: 600;
  font-size: 1.875rem;
  margin: 15px auto 0;
}

.u-section-4 .u-btn-1 {
  --radius: 50px;
  background-image: linear-gradient(#4d55a0, #c5cae8);
  font-size: 2.25rem;
  font-family: Trirong-Light;
  text-transform: uppercase;
  font-weight: 800;
  margin: 46px auto 0;
  padding: 6px 20px 7px;
}

.u-section-4 .u-icon-1 {
  font-size: 1.2223em;
}

.u-section-4 .u-text-2 {
  font-size: 1.5rem;
  width: 406px;
  font-weight: 700;
  font-family: Trirong-Light;
  margin: 31px auto 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-group-1 {
    width: 940px;
  }

  .u-section-4 .u-btn-1 {
    font-weight: 700;
    font-size: 0.875rem;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-group-1 {
    width: 720px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-group-1 {
    width: 540px;
  }

  .u-section-4 .u-text-2 {
    font-size: 1.125rem;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-group-1 {
    width: 340px;
    min-height: 356px;
    margin-top: -143px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-top: 20px;
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-4 .u-text-1 {
    margin-top: 1px;
  }

  .u-section-4 .u-btn-1 {
    font-size: 1.25rem;
    padding: 12px 28px 13px 26px;
  }

  .u-section-4 .u-icon-1 {
    margin-right: 1px;
    vertical-align: 0px;
  }

  .u-section-4 .u-text-2 {
    width: 320px;
  }
}@font-face {
  font-family: 'Trirong-Light';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/Trirong-Light.ttf);
}